<div class="container mt-5">
  <h1>COLLECTION 👇🏼</h1>

  <div class="row justify-content-between mt-3">
    <%@cocktails.each do |cocktail|%>

    <div class="card border-light m-3" style="max-width: 18rem;">
      <%= link_to(cocktail_path(cocktail.id)) do %>
        <div class="card-header" style="text-align: center;"><%= cocktail.name.upcase %></div>
        <%= image_tag cocktail.url, alt: "Cocktail illustration", class: "card-img-bottom" %>
      <% end %>
    </div>

    <% end %>
  </div>

</div>
